* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
  font-family: monospace;
}
header {
  padding: 20px 35px 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0.7;
}
header a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}
header h1 {
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 36px;
  color: black;
  margin: 10;
  padding-left: 35px;
}
header nav {
  margin-top: 30px;
  display: block;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
}
header nav ul li a {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
}
.hero {
  display: flex;
  position: relative;
  background-image: linear-gradient(45.34deg, #006400 5.66%, #808000 94.35%);
  background-size: cover;
  background-position: center;
  justify-content: center;
  height: 15vw;
  opacity: 0.4;
  margin-bottom: 150px;
}
.intro {
  margin-top: 2rem;
}
.flex-row {
  display: flex;
}
.section-title {
  display: flex;
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 45px;
  color: black;
  border-right: 8px solid royalblue;
  opacity: 0.4;
  justify-content: right;
  margin-bottom: 15px;
  min-width: 350px;
  max-width: 350px;
  padding-right: 15px;
  align-self: stretch;
}
.section-content p {
  margin-left: 3rem;
  font-size: 20px;
  line-height: 25px;
  margin-right: 80px;
  width: 80%;
}
#projects {
  display: flex;
  align-items: flex-start;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  position: relative;
  margin-left: 3rem;
}
.img-label {
  bottom: 10%;
  padding-left: 10%;
  font-size: 15px;
  font-style: normal;
  color: black;
}
.secondary-project {
  margin: 0.5em;
  padding: 0.5em;
  flex: 1 1 1;
  position: relative;
}
.secondary-project img {
  width: 80%;
  height: 80%;
  border: 2px solid darkgray;
  object-fit: contain;
  position: relative;
}
.flex-row ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.footer {
  margin-top: 70px;
}
.footer ul li {
  list-style: none;
  color: black;
  margin-left: 3rem;
}
.footer ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 25px;
}
@media screen and (min-width: 576px) {
  #main {
    flex-direction: row;
  }
  #main > nav,
  #main > aside {
    flex: 0 0 20vw;
  }
}
